:root {
    --primary-color: #143775;
    --secondary-color: #c78753;
    --accent1-color: #10695d;
    --accent2-color: #a0884a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

section,
article {
    margin: 16px;
    padding: 8px;
}

p {
    margin: 16px;
    padding: 8px;
    color: #000000 !important;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

header img {
    height: 100px;
    width: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(220, 239, 245);
    font-weight: bold;
}

nav a:hover {
    color: var(--secondary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: rgb(249, 254, 255);
    font-weight: bold;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;

}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid blanchedalmond;
    margin: 0 0 1rem 1rem;
    box-shadow: 0 0 30px rgb(134, 150, 134);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: #fff;
}

footer p {
    color: #ffffff;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 32px;
    height: 32px;
}

.socialmedia a {
    text-decoration: none;
}